MONGODB_CONNECTION_STRING=
# Email configuration (Sendinblue SMTP)
EMAIL_HOST=smtp-relay.sendinblue.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your-email@yourdomain.com
EMAIL_PASS=your_sendinblue_smtp_key
EMAIL_FROM=your-email@yourdomain.com
ADMIN_EMAIL=you@example.com
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_APIKEY=
CLOUDINARY_CLOUD_SECRET=
CLIENT_URL=
